@import "../../../../Variable.scss";

.sub_package_status{
    display: flex;
    align-items: center;

    &::before{
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin-right: 6px;
        display: inline-block;
    }
    &.warning::before{
        background-color: $warning;
    }
    &.success::before{
        background-color: $success;
    }
    &.danger::before{
        background-color: $danger;
    }
}