.text-danger {
  color: #e60017 !important;
}

.text-success {
  color: #0dbb4d !important;
}

.text-warning {
  color: #ffaa05 !important;
}

.text-primary {
  color: #2767da !important;
}

.text-secondary {
  color: #06c8aa !important;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.bg-danger {
  background-color: #e60017 !important;
}

.bg-success {
  background-color: #0dbb4d !important;
}

.bg-warning {
  background-color: #ffaa05 !important;
}

.bg-primary {
  background-color: #2767da !important;
}

.bg-secondary {
  background-color: #06c8aa !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.up_widget_icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  background-color: #cccccc;
}

.up_widget_logo {
  max-width: 65px;
  margin: 0 auto;
  background-color: #cccccc;
  border-radius: 5px;
  padding: 5px;
}

.up_widget_color {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
}

/* Added by jadab banerjee 25-03-2022*/
.sup_Branding_info_section {
  border: 1px solid #5385e2;
  margin-bottom: 15px;
  border-radius: 5px;
}

.sup_Branding_info_section .sup_section_title {
  background-color: #5385e2;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.4;
  font-weight: 600;
}

.sup_Branding_info_section .sup_section_title i.pi {
  margin-right: 5px;
}

.sup_Branding_info_section ul {
  padding: 10px 15px;
  list-style: none;
}

.sup_Branding_info_section ul li {
  font-size: 15px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.sup_Branding_info_section ul li strong {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 200px;
  text-align: left;
  display: inline-block;
  margin-right: 15px;
  color: #333333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.additional_service_editor .tox .tox-statusbar__text-container {
  display: none !important;
}

.sup_Branding_info_section .up_service_item {
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.6;
  text-transform: capitalize;
}

.sup_Branding_info_section .up_service_item.up_service_ada {
  background-color: #2767da;
  color: #fff;
  padding: 3px 8px;
}

.sup_Branding_info_section .up_service_item.up_service_cookies {
  background-color: #e69900;
  color: #fff;
  padding: 3px 8px;
}

.sup_Branding_info_section .up_service_item.up_service_privacyform {
  background-color: #ff471a;
  color: #fff;
  padding: 3px 8px;
}

.sup_Branding_info_section ul li img.up_widget_logo {
  margin: 0 auto 0 0;
}

.sup_Branding_info_section ul li .up_widget_color {
  margin: 0 auto 0 0;
}

.manage_sites_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manage_sites_action button {
  margin: 0 5px;
}

@media screen and (max-width: 480px) {
  .up_inner_container {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .up_inner_container .p-datatable .p-datatable-header {
    padding: 1rem 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .up_inner_container .p-datatable .p-datatable-header .p-jc-end {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .up_inner_container .p-datatable .p-datatable-header .p-jc-end .p-d-flex {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .up_inner_container .p-datatable .p-datatable-header .p-jc-end .p-d-flex .sup_search_box {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .up_inner_container .p-datatable .p-datatable-header .p-jc-end .p-d-flex .sup_search_box input {
    width: 100% !important;
  }
}

@media screen and (max-width: 560px) {
  .up_branding .up_page_header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 560px) {
  .up_branding .p-datatable .p-datatable-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/*# sourceMappingURL=ManageBranding.css.map */