@import "../../../Variable.scss";

.sup_dashboard{
    .sup_qo_inner{
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 0 15px;
    }
    .sup_qo_item{
        display: flex;
        align-items: center;
        padding: 0 15px;

        .sup_qo_icon{
            border-radius: 100%;
            width: 60px;
            height: 60px;
            padding: 10px;
            flex-shrink: 1;
            margin-right: 17px;
            display: flex;
            align-items: center;

            &.one{
                background-color: $orange;
            }
            &.two{
                background-color: desaturate($warning, 25%);
            }
            &.three{
                background-color: $info;
            }
            &.four{
                background-color: adjust-hue($success, 10%);
            }
            &.five{
                background-color: desaturate($secondary, 25%);
            }

            img{
                width: 35px;
                height: auto;
                margin: 0 auto;
            }
        }
        .sup_qo_info{
            h3{
                font-size: $h3-font-size - 8;
                line-height: 1.5;
                font-weight: 600;
                color: lighten($body-text, 35%);
            }
            span.sup_qo_number{
                font-size: $h2-font-size + 4;
                line-height: $h2-font-size + 10;
                font-weight: 700;
                color: $primary;
                display: block;
            }
        }
    }
}
.sup_detial_report{
    .sup_dr-inner{
        margin: 0 -0.5rem;
    }
    .sup_chart_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;
    }
}
.profile-image-customer{
    box-shadow: 0 0 10px #e8e8e8;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image-customer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customer-status{
    padding: 5px 10px;
    color: #fff;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 32px;
    box-shadow: 0 0 10px #e8e8e8;
}
.customer-status.status-active{
    background-color: #0dbb4d;
}
.customer-status.status-inactive{
    background-color: #ffaa05;
}