.text-danger {
  color: #e60017 !important;
}

.text-success {
  color: #0dbb4d !important;
}

.text-warning {
  color: #ffaa05 !important;
}

.text-primary {
  color: #2767da !important;
}

.text-secondary {
  color: #06c8aa !important;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

.bg-danger {
  background-color: #e60017 !important;
}

.bg-success {
  background-color: #0dbb4d !important;
}

.bg-warning {
  background-color: #ffaa05 !important;
}

.bg-primary {
  background-color: #2767da !important;
}

.bg-secondary {
  background-color: #06c8aa !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.up_main_header {
  background: #2767da;
  padding: 15px 0;
}

.up_main_header .up_main_contianer_full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .up_main_header .up_main_contianer_full {
    padding: 0 10px;
  }
}

.up_main_header .up_left_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up_main_header .up_left_block .up_logo_wrap {
  padding-right: 20px;
}

@media screen and (max-width: 1440px) {
  .up_main_header .up_left_block .up_logo_wrap {
    width: 165px;
  }
}

.up_main_header .up_left_block .up_logo_wrap a.up_logo {
  display: block;
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 1300px) {
  .up_main_header .up_left_block .up_main_nav.up_navbar-nav {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 280px;
    z-index: 999;
    background-color: #2767da;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px 20px 35px;
    -webkit-transform: translate(-300px, 0px);
            transform: translate(-300px, 0px);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
  }
}

@media screen and (max-width: 1300px) {
  .up_main_header .up_left_block .up_main_nav.up_navbar-nav.mobileMenuActive {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
  }
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li {
  position: relative;
  border-right: 1px solid #6699cc;
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li.mibile_menu_active {
  display: none;
}

@media screen and (max-width: 1440px) {
  .up_main_header .up_left_block .up_main_nav.up_navbar-nav li.mibile_menu_active {
    display: block;
  }
  
}

@media screen and (max-width: 1300px) {
  .up_main_header .up_left_block .up_main_nav.up_navbar-nav li {
    width: 100%;
    border: none;
  }
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li:last-child {
  border-right: 0;
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li a {
  padding: 10px;
  color: #fff;
  font-size: 13px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1400px) {
  .up_main_header .up_left_block .up_main_nav.up_navbar-nav li a {
    font-size: 12px;
    padding: 10px 8px;
  }
}

@media screen and (max-width: 1300px) {
  .up_main_header .up_left_block .up_main_nav.up_navbar-nav li a {
    padding: 15px 10px 15px;
  }
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li a:hover {
  background: #3d76de;
  color: #ffffff;
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li a.router-link-exact-active {
  background: #3d76de;
  color: #ffffff;
}

.up_main_header .up_left_block .up_main_nav.up_navbar-nav li a img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.up_main_header .up_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up_main_header .up_right_block .up_right_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.up_main_header .up_right_block .up_right_nav li {
  position: relative;
  border-right: 1px solid #6699cc;
}

.up_main_header .up_right_block .up_right_nav li.desktop_menu_active {
  display: block;
}

@media screen and (max-width: 1440px) {
  .up_main_header .up_right_block .up_right_nav li.desktop_menu_active {
    display: none;
  }
}

.up_main_header .up_right_block .up_right_nav li:last-child {
  border-right: 0;
}

.up_main_header .up_right_block .up_right_nav li.notification_icon {
  position: relative;
}

.up_main_header .up_right_block .up_right_nav li span.notification_count {
  background: red;
  color: #fff;
  width: 16px;
  height: 16px;
  font-weight: 700;
  font-size: 10px;
  border-radius: 100%;
  line-height: 18px;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 5px;
  right: 15px;
}

.up_main_header .up_right_block .up_right_nav li a {
  padding: 10px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.5 ease-in-out;
  transition: background 0.5 ease-in-out;
}

@media screen and (max-width: 1400px) {
  .up_main_header .up_right_block .up_right_nav li a {
    font-size: 12px;
    padding: 10px 8px;
  }
}

@media screen and (max-width: 640px) {
  .up_main_header .up_right_block .up_right_nav li a {
    padding: 10px 5px;
  }
}

.up_main_header .up_right_block .up_right_nav li a:hover {
  background: #3d76de;
  color: #ffffff;
}

.up_main_header .up_right_block .up_right_nav li a.router-link-exact-active {
  background: #3d76de;
  color: #ffffff;
}

.up_main_header .up_right_block .up_right_nav li a img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box {
  position: absolute;
  width: 300px;
  top: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f9fcff;
  display: none;
  right: 0;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box.up_notification_box_open {
  display: block;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box h2 {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 250px;
  overflow-y: auto;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box ul li a {
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box .up_seeall_notification_btn {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #cccccc;
  color: #000000;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.up_main_header .up_right_block .up_right_nav li .up_notification_box .up_seeall_notification_btn:hover {
  background-color: #b3b3b3;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown_toggle {
  padding: 5px 10px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown_toggle:hover {
  background: #3d76de;
  color: #ffffff;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown_toggle img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 2px #ffffff;
          box-shadow: 0 0 2px #ffffff;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show {
  position: absolute;
  right: 0;
  top: 125%;
  background-color: #2767da;
  padding: 0;
  width: 100%;
  min-width: 200px;
  border-radius: 0 0 5px 5px;
  margin-top: 14px;
  z-index: 9;
}

@media screen and (max-width: 1440px) {
  .up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show {
    margin-top: 4px;
  }
}

@media screen and (max-width: 1300px) {
  .up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show {
    top: 100%;
  }
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul {
  list-style: none;
  padding: 20px 0;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li {
  padding: 0;
  border-right: 0;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a {
  padding: 10px 15px 10px 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a i {
  font-size: 17px;
  margin-right: 9px;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a:hover, .up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a:focus {
  background-color: #d9d9d9;
  color: #2767da;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a:hover:before, .up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a:focus:before {
  background-color: #2767da;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li a:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 18px;
  left: 15px;
}

.up_main_header .up_right_block .up_right_nav li .up_user_dropdown.up_user_dropdown_show ul li:last-child {
  border-bottom: 0;
}

.mobile_menu_overlay {
  position: fixed;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.4);
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  z-index: 99;
  display: none;
}

.unread_notification_item {
  background-color: #a1caf3;
  display: block;
  padding: 2pt;
}

.read_notification_item {
  background-color: #ffffff;
  display: block;
  padding: 2pt;
}

.notification_date {
  text-align: right;
  font-size: 8.5pt;
  font-weight: 500;
}

.notification_text_read {
  padding: 2pt 2pt 2pt 2pt;
  font-size: 10pt; font-weight: 650; height: 20pt;
  margin-bottom: 2pt;
  font-weight: 350;
}

.notification_text_unread {
  padding: 2pt 2pt 2pt 2pt;
  font-size: 10pt; font-weight: 650; height: 20pt;
  margin-bottom: 2pt;
  font-weight: 620;
}

@media screen and (max-width: 1300px) {
  .mobile_menu_overlay {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

.mobile_menu_overlay.overlayActive {
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  display: none;
}

@media screen and (max-width: 1300px) {
  .mobile_menu_overlay.overlayActive {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    display: block;
  }
}

.mobi_menu_toggler {
  display: none;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.mobi_menu_toggler i {
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .mobi_menu_toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobi_menu_toggler i.pi-bars {
    color: #fff;
    display: block;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    font-size: 20px;
    opacity: 1;
  }
  .mobi_menu_toggler i.pi-times {
    color: #fff;
    display: block;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    font-size: 0px;
    opacity: 0;
  }
}

@media screen and (max-width: 640px) {
  .mobi_menu_toggler {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 1300px) {
  .mobi_menu_toggler.iconActive i.pi-bars {
    color: #fff;
    display: block;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    font-size: 0px;
    opacity: 0;
  }
  .mobi_menu_toggler.iconActive i.pi-times {
    color: #fff;
    display: block;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    font-size: 20px;
    opacity: 1;
  }
}
/*# sourceMappingURL=Header.css.map */